<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blog Post</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class = "container mt-3">
        <h1><%= blog.title %></h1>
        <% if (blog.coverImageURL) { %>
        <img src="<%= blog.coverImageURL %>" width="500" height="300" alt="Blog Cover Image">
        <% } %>
        <pre ><%= blog.body %></pre>

    <div class = "container mt-3">
        <% if (blog.createdBy) { %>
        <img src="<%= blog.createdBy.profileImageURL || '/images/download.jpg' %>" width="50" height="50" alt="User Profile Image">
         <%= blog.createdBy.fullName %>
        <% } else { %>
         Unknown author
        <% } %>
    </div>

    <div class = "container mt-3">
        <h3>Comments</h3>
        <% if (locals.user) { %>
          <form action="/blogs/comments/<%= blog._id %>" method="POST">
            <div class="mb-3">
                <label for="comment" class="form-label">Add a comment</label>
                <input 
                type="text" 
                class="form-control" 
                id="comment" 
                name="comment"
                aria-describedby="commentHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          <% } %>
    </div>

    <%- include('./partials/scripts') %>

</body> 
</html>
